.main{
    min-height: calc(100vh - 11.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.bana-ulas-form{
    width: 60%;
}
.bana-ulas-icon{
    font-size: 5rem;
    color:  rgb(31, 131, 224);
}
@media screen and (max-width: 1000px){
    .bana-ulas-form{
        width: 80%;
    }
}